<div class="form">
  <div class="row">
    <h1 class="display-4">Comparer vos hébergeurs :</h1>
    <div class="col">
      Nom de l'hébergeur :<br />
      <div class="form-outline">
        <select class="form-select" [(ngModel)]="selectedhebergeur">
          <!-- <option value="" disabled hidden selected>Nom de l'hébergeurs :</option> -->
          <option *ngFor="let hebergeur of hebergeursList" [ngValue]="hebergeur">{{ hebergeur }}</option>
          -
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        Type d'infrastructure :<br />
        <select class="form-select" [(ngModel)]="selectedinfra">
          <option *ngFor="let typeinfra of typesinfra" [ngValue]="typeinfra">{{ typeinfra }}</option>
        </select>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <div class="form-outline">
        Nombre de CPU :<br />
        <select class="form-select" [(ngModel)]="selectedCPU">
          <option *ngFor="let nbCpu of nbCpus" [ngValue]="nbCpu">{{ nbCpu }}</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        Ram :<br />
        <select class="form-select" [(ngModel)]="selectedRAM">
          <option *ngFor="let ram of rams" [ngValue]="ram">{{ ram }}</option>
        </select>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <div class="form-outline">
        Type de serveur :<br />
        <select class="form-select" [(ngModel)]="selectedType">
          <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        Réseau :<br />
        <select class="form-select" [(ngModel)]="selectedBandWidth">
          <option *ngFor="let bandWidth of bandWidths" [ngValue]="bandWidth">{{ bandWidth }}</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-dark" (click)="compare()">Comparer</button>
      </div>
    </div>
  </div>

  <br />

  <div id="result-compare">
    <div class="row result-compare" *ngFor="let serv of serveursCompare">
      <div class="col">
        <span><b>Hebergeur : </b>{{ serv.nomHebergeur! }}</span
        ><br />
        <span><b>Serveur : </b>{{ serv.nomServeur! }}</span>
      </div>
      <div class="col">
        <span><b>Type d'architechure : </b>{{ serv.arch! }}</span
        ><br />
        <span><b>Nombre de CPU : </b>{{ serv.cpuNombre! }}</span>
      </div>
      <div class="col">
        <span><b>Type de serveur : </b>{{ serv.type! }}</span
        ><br />
        <span><b>Réseau : </b>{{ serv.bandWidthInternal! }}</span>
      </div>
      <div class="col">
        <span><b>Prix par Heure : </b>{{ serv.hourlyPrice! }}</span
        ><br />
        <span><b>Prix par Mois : </b>{{ serv.priceMonthly! }}</span>
      </div>
    </div>
  </div>
</div>
